<%= form_with model: @trip, url: link do |f| %>
	<div class="mb-3">
		<%= f.label :city %> <%= f.text_field :city, class: "form-control", placeholder: "Dubai" %>
	</div>
	<div class="mb-3">
		<%= f.label :from_date %> <%= f.date_field :from_date, class: "form-control" %>
	</div>
	<div class="mb-3">
		<%= f.label :end_date %> <%= f.date_field :end_date, class: "form-control" %>
	</div>
	<div class="mb-3">
		<%= f.label :head_count %> <%= f.number_field :head_count, in: 1..20, step: 1, class: "form-control" %>
	</div>

	<div class="mb-3">
		<%= f.submit "Create Trip" %>
	</div>
<% end %>