<div class="d-flex align-items-center justify-content-center">
	<h1>Welcome to the Trip Planner App!</h1>
</div>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if @user %>
	Logged in with <%= @user.email %><br>
	Welcome, <%= @user.first_name + ' ' + @user.last_name %>!

	<%= button_to "Logout", signout_path, method: :delete %>
<% else %>
	<%= button_to "Login", signin_path, method: :get %>
<% end %>

<%= button_to "Create Account", signup_path, method: :get %>
