<div class="d-flex align-items-center justify-content-center">
	<h1>Welcome to the Trip Planner App!</h1>
</div>

<%= render "flash" %>

<% if @user %>
	Logged in with <%= @user.email %><br>
	Welcome, <%= @user.first_name + ' ' + @user.last_name %>!

	<%= button_to "Edit", '/users/'+@user.id.to_s+'/edit', method: :get %>
	<%= button_to "Trips", '/users/'+@user.id.to_s+'/trips', method: :get %>
	<%= button_to "Logout", signout_path, method: :delete %>
	<hr>
	<%= link_to "Create Trip", create_trip_path(user_id: @user.id), method: :get %>
	<hr>
	<%= button_to "All Users", users_path(user_id: session[:user_id]), method: :get %>
<% else %>
	<%= button_to "Login", signin_path, method: :get %>
<% end %>

<%= button_to "Create Account", signup_path, method: :get %>
