<h1> All Users </h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><%= u.first_name %></td>
        <td><%= u.last_name %></td>
        <td><%= u.email %></td>
        <td><%= u.phone %></td>
        <td><%= link_to 'Edit', '/users/'+u.id.to_s+'/edit', method: :get %></td>
        <td><%= link_to 'Trips', '/users/'+u.id.to_s+'/trips', method: :get %> </td>
        <td><%= link_to 'Delete', '/users/'+u.id.to_s, data: { "turbo_method": :delete, turbo_confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to "Homepage", root_path, method: :get %>