<h1> Users Trips </h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>City</th>
      <th>Starting Date</th>
      <th>Ending Date</th>
      <th>Head Count</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |t| %>
      <tr>
        <td><%= t.city %></td>
        <td><%= t.from_date %></td>
        <td><%= t.end_date %></td>
        <td><%= t.head_count %></td>
        <td><%= link_to 'Show' %></td>
        <td><%= link_to 'Edit' %></td>
        <td><%= link_to 'Trips' %> </td>
        <td><%= link_to 'Delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>
<%= link_to "Create Trip", create_trip_path(user_id: params[:id]), method: :get %>
<hr>
<%= button_to "Homepage", root_path, method: :get %>