<h1>Login Page</h1>

<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= form_with url: signin_path do |f| %>
	<div class="mb-3">
		<%= f.label :email %> <%= f.text_field :email, class: "form-control", placeholder: "kaid0@gmail.com" %>
	</div>
	<div class="mb-3">
		<%= f.label :password %> <%= f.password_field :password, class: "form-control", placeholder: "password" %>
	</div>

	<div class="mb-3">
		<%= f.submit "Sign In" %>
	</div>
<% end %>